<!doctype html>
<html lang="uk">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Список базових станцій України">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>3G БС України</title>
  <meta name="theme-color" content="#548">
  <link rel="manifest" href="app.manifest">
  <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
  <!-- <link rel="icon" href="apple-touch-icon.png"> -->
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body>
  <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!--     <div class="container-fluid"> -->
  <div class="provinces panel panel-header">
    <header class="panel-heading">
      <div class="row">
        <a class="title-heading title-link" href="/">4G по областях</a>
        <a class="title-heading title-link" href="/4g-cities.html">4G по містах</a>
        <h2 class="title-heading">3G по областях</h2>
        <a class="title-heading title-link" href="/3g-cities.html">4G по містах</a>
      </div>
    </header>

    <div class="panel-body">
      <% operatorsConfig.forEach(row => { %>
        <div class="row">
          <% row.forEach(operatorConfig => {
            const operator = data.operators[operatorConfig.key]
          %>
            <div class="col-md-6">
              <div class="<%= operatorConfig.key %> panel panel-<%= operatorConfig.key %> panel-collapsible">
                <div class="panel-heading"><b><%= operatorConfig.name %></b>&nbsp;&nbsp;&nbsp;БС: <span class="bs-amount"><%= data.operators[operatorConfig.key].total %></span>; Областей: <span
                    class="place-amount"><%= operator.values.length %></span></div>
                <div class="panel-body table-holder table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Область</th>
                        <th>К-ть<br/>БС
                        </th>
                        <th>Постачальник<br/>обладнання
                        </th>
                        <th>Останнє<br/>додавання
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <% operator.values.forEach(op => {
                    const d = new Date(op.date), year = d.getFullYear(), mon = (d.getMonth() + 1), day = d.getDate()
                    const date = `${day<10?"0"+day:day}.${mon<10?"0"+mon:mon}.${year}`
                  %>
                        <tr>
                          <td>
                            <%= op.province %>
                          </td>
                          <td>
                            <%= op.quantity %>
                          </td>
                          <td>
                            <%= op.brands %>
                          </td>
                          <td>
                            <%= date %>
                          </td>
                        </tr>
                        <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <% }) %>
        </div>
        <% }) %>
    </div>
  </div>

  <footer class="footer col-md-12">
    <span class="pull-right"><b>Оновлено</b> <%= (new Date).toLocaleString('UA-ua') %></span>
  </footer>

  <!-- </div> -->

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-67038045-1', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/sugar/release/sugar.min.js"></script>
  <script src="/bower_components/tablesorter/dist/js/jquery.tablesorter.combined.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/plugins.js -->
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script src="scripts/main.js"></script>
  <!-- endbuild -->
</body>

</html>
