<!doctype html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Список базових станцій України">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>3G БС України</title>
    <meta name="theme-color" content="#548">
    <link rel="manifest" href="app.manifest">
    <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
    <!-- <link rel="icon" href="apple-touch-icon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<!--     <div class="container-fluid"> -->
      <div class="provinces panel panel-header">
        <div class="panel-heading"><h2>По областях</h2></div>


        <div class="panel-body">
          <div class="row">

            <div class="col-md-6">
              <div class="ks panel panel-ks panel-collapsible">
                <div class="panel-heading"><b>Київстар</b>&nbsp;&nbsp;&nbsp;БС: <span class="bs-amount"><%= ks.total %></span>; Областей: <span class="place-amount"><%= Object.keys(ks.provinces).length %></span></div>
                <div class="panel-body table-holder table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Область</th>
                        <th>К-ть<br/>БС</th>
                        <th>Постачальник<br/>обладнання</th>
                        <th>Останнє<br/>додавання</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var province in ks.provinces) { %>
                        <tr>
                          <td><%= province %></td>
                          <td><%= ks.provinces[province].quantity %></td>
                          <% var brandArr = [];for (var brandKey in ks.provinces[province].brand) {brandArr.push(brandKey+'('+ks.provinces[province].brand[brandKey]+')'); } %>
                          <td><%= brandArr.join(", ") %></td>
                          <% var d = new Date(ks.provinces[province].date), year = d.getFullYear(), mon = (d.getMonth() + 1), day = d.getDate() %>
                          <td><%= (day<10?"0"+day:day) + "." + (mon<10?"0"+mon:mon) + "." + year %></td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mts panel panel-mts panel-collapsible">
                <div class="panel-heading"><b>МТС</b>&nbsp;&nbsp;&nbsp;БС: <span class="bs-amount"><%= mts.total %></span>; Областей: <span class="place-amount"><%= Object.keys(mts.provinces).length %></span></div>
                <div class="panel-body table-holder table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Область</th>
                        <th>К-ть<br/>БС</th>
                        <th>Постачальник<br/>обладнання</th>
                        <th>Останнє<br/>додавання</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var province in mts.provinces) { %>
                        <tr>
                          <td><%= province %></td>
                          <td><%= mts.provinces[province].quantity %></td>
                          <% var brandArr = [];for (var brandKey in mts.provinces[province].brand) {brandArr.push(brandKey+'('+mts.provinces[province].brand[brandKey]+')'); } %>
                          <td><%= brandArr.join(", ") %></td>
                          <% var d = new Date(mts.provinces[province].date), year = d.getFullYear(), mon = (d.getMonth() + 1), day = d.getDate() %>
                          <td><%= (day<10?"0"+day:day) + "." + (mon<10?"0"+mon:mon) + "." + year %></td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-md-6">
              <div class="life panel panel-life panel-collapsible">
                <div class="panel-heading"><b>life :)</b>&nbsp;&nbsp;&nbsp;БС: <span class="bs-amount"><%= life.total %></span>; Областей: <span class="place-amount"><%= Object.keys(life.provinces).length %></span></div>
                <div class="panel-body table-holder table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Область</th>
                        <th>К-ть<br/>БС</th>
                        <th>Постачальник<br/>обладнання</th>
                        <th>Останнє<br/>додавання</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var province in life.provinces) { %>
                        <tr>
                          <td><%= province %></td>
                          <td><%= life.provinces[province].quantity %></td>
                          <% var brandArr = [];for (var brandKey in life.provinces[province].brand) {brandArr.push(brandKey+'('+life.provinces[province].brand[brandKey]+')'); } %>
                          <td><%= brandArr.join(", ") %></td>
                          <% var d = new Date(life.provinces[province].date), year = d.getFullYear(), mon = (d.getMonth() + 1), day = d.getDate() %>
                          <td><%= (day<10?"0"+day:day) + "." + (mon<10?"0"+mon:mon) + "." + year %></td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="triMob panel panel-triMob panel-collapsible">
                <div class="panel-heading"><b>3Mob</b>&nbsp;&nbsp;&nbsp;БС: <span class="bs-amount"><%= triMob.total %></span>; Областей: <span class="place-amount"><%= Object.keys(triMob.provinces).length %></span></div>
                <div class="panel-body table-holder table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Область</th>
                        <th>К-ть<br/>БС</th>
                        <th>Постачальник<br/>обладнання</th>
                        <th>Останнє<br/>додавання</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var province in triMob.provinces) { %>
                        <tr>
                          <td><%= province %></td>
                          <td><%= triMob.provinces[province].quantity %></td>
                          <% var brandArr = [];for (var brandKey in triMob.provinces[province].brand) {brandArr.push(brandKey+'('+triMob.provinces[province].brand[brandKey]+')'); } %>
                          <td><%= brandArr.join(", ") %></td>
                          <% var d = new Date(triMob.provinces[province].date), year = d.getFullYear(), mon = (d.getMonth() + 1), day = d.getDate() %>
                          <td><%= (day<10?"0"+day:day) + "." + (mon<10?"0"+mon:mon) + "." + year %></td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>
      <div class="cities panel panel-header">
        <div class="panel-heading"><h2>По містах</h2></div>


        <div class="panel-body">
          <div class="row">

            <div class="col-md-6">
              <div class="ks panel panel-ks panel-collapsible">
                <div class="panel-heading"><b>Київстар</b>&nbsp;&nbsp;&nbsp;БС: <span class="bs-amount"><%= ks.total %></span>; Міст: <span class="place-amount"><%= Object.keys(ks.cities).length %></span></div>
                <div class="panel-body table-holder table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Місто</th>
                        <th>Область</th>
                        <th>К-ть<br/>БС</th>
                        <th>Постачальник<br/>обладнання</th>
                        <th>Останнє<br/>додавання</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var city in ks.cities) { %>
                        <tr>
                          <td><%= ks.cities[city].city %></td>
                          <td><%= ks.cities[city].province %></td>
                          <td><%= ks.cities[city].quantity %></td>
                          <% var brandArr = [];for (var brandKey in ks.cities[city].brand) {brandArr.push(brandKey+'('+ks.cities[city].brand[brandKey]+')'); } %>
                          <td><%= brandArr.join(", ") %></td>
                          <% var d = new Date(ks.cities[city].date), year = d.getFullYear(), mon = (d.getMonth() + 1), day = d.getDate() %>
                          <td><%= (day<10?"0"+day:day) + "." + (mon<10?"0"+mon:mon) + "." + year %></td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mts panel panel-mts panel-collapsible">
                <div class="panel-heading"><b>МТС</b>&nbsp;&nbsp;&nbsp;БС: <span class="bs-amount"><%= mts.total %></span>; Міст: <span class="place-amount"><%= Object.keys(mts.cities).length %></span></div>
                <div class="panel-body table-holder table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Місто</th>
                        <th>Область</th>
                        <th>К-ть<br/>БС</th>
                        <th>Постачальник<br/>обладнання</th>
                        <th>Останнє<br/>додавання</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var city in mts.cities) { %>
                        <tr>
                          <td><%= mts.cities[city].city %></td>
                          <td><%= mts.cities[city].province %></td>
                          <td><%= mts.cities[city].quantity %></td>
                          <% var brandArr = [];for (var brandKey in mts.cities[city].brand) {brandArr.push(brandKey+'('+mts.cities[city].brand[brandKey]+')'); } %>
                          <td><%= brandArr.join(", ") %></td>
                          <% var d = new Date(mts.cities[city].date), year = d.getFullYear(), mon = (d.getMonth() + 1), day = d.getDate() %>
                          <td><%= (day<10?"0"+day:day) + "." + (mon<10?"0"+mon:mon) + "." + year %></td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-md-6">
              <div class="life panel panel-life panel-collapsible">
                <div class="panel-heading"><b>life :)</b>&nbsp;&nbsp;&nbsp;БС: <span class="bs-amount"><%= life.total %></span>; Міст: <span class="place-amount"><%= Object.keys(life.cities).length %></span></div>
                <div class="panel-body table-holder table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Місто</th>
                        <th>Область</th>
                        <th>К-ть<br/>БС</th>
                        <th>Постачальник<br/>обладнання</th>
                        <th>Останнє<br/>додавання</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var city in life.cities) { %>
                        <tr>
                          <td><%= life.cities[city].city %></td>
                          <td><%= life.cities[city].province %></td>
                          <td><%= life.cities[city].quantity %></td>
                          <% var brandArr = [];for (var brandKey in life.cities[city].brand) {brandArr.push(brandKey+'('+life.cities[city].brand[brandKey]+')'); } %>
                          <td><%= brandArr.join(", ") %></td>
                          <% var d = new Date(life.cities[city].date), year = d.getFullYear(), mon = (d.getMonth() + 1), day = d.getDate() %>
                          <td><%= (day<10?"0"+day:day) + "." + (mon<10?"0"+mon:mon) + "." + year %></td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="triMob panel panel-triMob panel-collapsible">
                <div class="panel-heading"><b>3Mob</b>&nbsp;&nbsp;&nbsp;БС: <span class="bs-amount"><%= triMob.total %></span>; Міст: <span class="place-amount"><%= Object.keys(triMob.cities).length %></span></div>
                <div class="panel-body table-holder table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Місто</th>
                        <th>Область</th>
                        <th>К-ть<br/>БС</th>
                        <th>Постачальник<br/>обладнання</th>
                        <th>Останнє<br/>додавання</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var city in triMob.cities) { %>
                        <tr>
                          <td><%= triMob.cities[city].city %></td>
                          <td><%= triMob.cities[city].province %></td>
                          <td><%= triMob.cities[city].quantity %></td>
                          <% var brandArr = [];for (var brandKey in triMob.cities[city].brand) {brandArr.push(brandKey+'('+triMob.cities[city].brand[brandKey]+')'); } %>
                          <td><%= brandArr.join(", ") %></td>
                          <% var d = new Date(triMob.cities[city].date); var year = d.getFullYear(), mon = (d.getMonth() + 1), day = d.getDate() %>
                          <td><%= (day<10?"0"+day:day) + "." + (mon<10?"0"+mon:mon) + "." + year %></td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>
      </div>

    <!-- </div> -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-67038045-1', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/sugar/release/sugar.min.js"></script>
    <script src="/bower_components/tablesorter/dist/js/jquery.tablesorter.combined.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
